/*
SENTENCE
*/
.arsent {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  margin: 0px;
  margin-bottom: 27px;
  flex-wrap: wrap;
  line-height: 1.2;
  font-size: 27px;
}
.arsent li {
  list-style: none;
}
li.arsent__original {
  line-height: 1.3;
  font-size: 27px;
}
.arsent__translate {
  font-size: 14px;
}
li.arsent__original + li.arsent__translate {
  padding-top: 10px;
  margin-right: 15px;
  margin-left: 15px;
}

/*
принудительное присваивание 
так как тема меняет на противоположные
*/
.ar {
  direction: rtl;
}

.not-ar {
  direction: ltr;
}

/*
temp
*/
/* h1.title {
  margin-bottom: 52px;
  font-size: 50px;
  direction: rtl;
} */
/* h2.title.h2ar {
  margin-bottom: 50px;
  margin-top: 30px;
}
.desc {
  margin-bottom: 40px;
  direction: ltr;
  text-align: right;
} */
/* .MuiCardContent-root {
  direction: rtl;
} */
/* span.desc__ar {
  font-weight: bold;
}
span.contrast {
  color: #f44336;
} */

/*markdown editor*/
textarea.mde-text {
  font-size: 16px;
}
